- @employee.employee_skills.each  do |es|
  %tr
    %td= es.skill&.name
    %td= "#{es.experience['year']} Year and #{es.experience['month']} Months"
    %td
      %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
