.container
  %table.display.stripe.no-wrap#employee-datatable{"data-source" => "#{employees_path(format: :json)}"}
    %thead
      %tr
        %th Name
        %th Role
        %th Grade
        %th location
        %th Profile
        %th Engagement
        %th Projects
        %th Skills
        %th Action
    %tbody


- content_for :footer do
  = javascript_pack_tag 'employee'