@import '~bootstrap/dist/css/bootstrap.min';
$fa-font-path : '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

nav {
  margin-bottom: 4%;
}

.navbar-brand {
  img {
    width: 150px;
  }
}

.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

