.card{
  border: none;
  &:nth-child(1) {
    margin-top: 20px;
  }
  .card-body {

    padding-top: 5px;

    h5, h6 {
      text-align: center;
    }
    .form{
      width: 50%;
      margin: 0 auto;
      .form-control-label {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 0;
      }
      .form-control {
        height: 33px;
        font-size: 13px;
        border-color: inherit;
      }
      .form-check-label {
        color: #000 !important;
      }
      .form-group {
        margin-bottom: 5px;
      }
    }
  }
}
#collapse2, #collapse3{
  .card-body {
    padding: 0 !important;
    .card-body {
      padding: 0 !important;
    }
    .table{
      margin-bottom: 20px;
      thead {
        background: #000;
        color: #fff;
      }
      tbody{
        tr{
          background-color: #ccc;
        }
      }
    }
  }
}
.form-check {
  margin-top:  5px;
  label {
    margin-left: 20px;
  }
}
tfoot {
  tr {
    td{
      padding-bottom: 0 !important;
      .form-group {
        margin-bottom: 0 !important;
      }
    }
  }
}

.reset_password {
  font-size: 12px;
  text-align: right;
  display: inline-block;
  float: right;
  color: blue;
  cursor: pointer;
}